/* ROOT */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

header.root-header,
footer.root-footer{
  background: #2d3142;
  height: 3.375em;
}

header.root-header{
  display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: flex-start;
  padding: 0 1.5em;
  position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

main.root-main{
  position: absolute;
    top: 3.375em;
    right: 0;
    bottom: 0;
    left: 0;
}

p,
span,
input, 
textarea{
  background: grey;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/* BOARD */

.board{
  display: flex;
    flex-flow: row nowrap;
  height: 100%;
  overflow-x: auto;
}

.panel-inline-custom{
  display: flex;
    flex-flow: row nowrap;
}

.panel-inline-custom p,
.panel-inline-custom span,
.panel-inline-custom input, 
.panel-inline-custom textarea,
.panel-inline-custom{
  flex: 1;
} 


/* LIST */

.list{
  background: pink;
  flex: 0 0 300px;
  margin: 0.5rem;
}


/* CARD */

.card-controls{
  position: relative;
    left: 0;
  visibility: hidden;
}
.card-controls.visible{
  visibility: visible;
}


/* NOTE: UTILITIES */

.low-opacity{
  opacity: 0.25;
}

.is-dragging{
  opacity: 0.4;
}
